@media screen and (max-width:1200px) {
    /* HEADER */
    nav{
        display: none;
    }
    .burger_menu{
        display: block;
        width: 100%;
    }
    .button_header button{
        font-size: 16px;
        word-wrap: none;
    }
    .button_header{
        padding: 0 !important;
    }
    .hContent{
        position: static;
    }
    .button_lang{
        width: 70%;
        justify-content: space-between;
    }
    .button_header{
        padding: 0;
    }
    .logo_nav{
        width: 30%;
        padding: 0 !important;
    }
    /* HEADER */
    /* MAIN */
    .flex_content{
        flex-direction: column;
    }
    .text_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 150px;
        max-width: 90%;
        margin:auto
    }
    .text_content h1 span{
        font-size: 30px;
    }
    .text_content p{
        font-size: 20px;
        margin-top: 25px;
    }
    .text_content_btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
        margin-top: 60px;
    }
    .text_content_btn button{
        margin: 0;
    }
    .header_item{
        height: 100%;
    }
    .slider{
        margin-top: 60px;
        max-width:  90%;
        border-radius: 30px;
        background-position: center;
    }
    main{
        margin-top: 60px;
    }
    .items_container{
        overflow: auto;
        gap: 15px
        ;
    }
    .artist_img{
        width: 100%;
        height: 100vh;
        background: url("../images/197-13-pro---4-min.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .experience_heading h2{
        font-size: 30px;
        text-align: center;
    }
    .artist_img img{
        width: 100%;
        height: 100vh;
        background-clip: content-box;
    }
    .artist_img{
        padding: 0;
        justify-content: center;
        align-items: flex-start;
        padding-top: 100px;
    }
    .nft_artist_items h2{
        font-size: 35px;
    }
    .text_artist p{ 
        font-size: 18px;
    }
    .flex_container{
        flex-direction: column;
        
    }
    .flexet_blocks{
        width: 95%;
    }
    .buy_nft_content{
        top: 15%;
    }
    .buy_nft_content h2{
        font-size: 30px;
    }
    .buy_nft_content p{
        font-size: 18px;
    }
    .top_parent{
        flex-direction: column;
    }
    .get_started_nft_child{
        width: 100%;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
    }
    .second_child{
        flex-direction: column;
        justify-content: space-between;

    }
    .second_child{
        margin-top: 10px;
        width: 90%
    }
    .second_child_items{
        display: flex;
        width: 95%;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .second_child_items h4{
        margin: 0;
    }
    .second_child_items p{
        margin: 0;
    }
    .get_started_nft{
        height: 1610px;
    }
    .go_to_guides{
        margin-top: 200px;
    }
    .guide_items{
        flex-direction: column;
        justify-content: space-around;
    }
    .item_images{
        width: 95%;
        height: 33.3%;
    }
    footer{
        padding: 10px;
    }
    .footer{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    .marketplace_list{
        align-self: flex-start;
    }
    .fl_lists{
        width: 100%;
        flex-wrap: wrap;
    }
    .logo_and_text{
        align-self:flex-start;
    }
    .marketplace_list{
        width: 50%;
        margin-top: 50px;
    }
    .resources_list{
        width: 50%;
        margin-top: 50px;
    }
    .conpany_list{
        width: 50%;
        margin-top: 50px;
    }
    .stats_list{
        width: 50%;
        margin-top: 50px;
    }
    .items_last{
        flex-direction: column;
    }
    .rights{
        text-align: center;
        margin-top: 30px;
    }
    #span_chat{
        display: none;
    }
    .chat button{
        border-radius: 50%;
        padding: 15px 20px;
    }
    .text_content_btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #languages{
        display: none;
    }
    .button_header{
        padding: 0;
    }
    .bag_icon{
        padding: 0 !important;
    }
    .apps_logo{
        display: none;
    }
    .background-container{
        max-width: 95%;
        border-radius: 35px;
        padding: 0;
        height: 100vh;
        background: url("../images/200-buy-nft-mob-min-2.png");
        background-size: cover;
        background-position: center;
        align-items: flex-start;
        justify-content: center;
        padding-top: 100px;
    }
    .guide_heading h2{
        text-align: center;
    }
    .links{
        flex-direction: column;
    }
    .links a{
        display: inline-block;
        padding-top: 15px;
        padding-left: 0;
    }
}